@tailwind base;
h1 {
	@apply text-2xl;
}
h2 {
	@apply text-xl;
}
h3 {
	@apply text-lg;
}
@tailwind components;
@tailwind utilities;
@tailwind screens;

.root,
:root,
#root,
#docs-root {
	--color-emerald-700: #13926e;
	--color-emerald-500: #47b475;
	--color-emerald-200: #e2e8f0;
	--color-emerald-50: #caead7;
	--color-green-500: #22c55e;
	--color-gray-800: #1f2937;
	--color-gray-600: #4b5563;
	--color-gray-500: #6b7280;
	--color-gray-400: #9ca3af;
	--color-gray-300: #d1d5db;
	--color-gray-100: #f3f4f6;
	--color-white: #ffffff;
	--color-amber-500: #f59e0b;
	--color-red-600: #dc2626;
	--color-red-500: #ef4444;
	--color-red-200: #fecaca;
	--color-blue-500: #3b82f6;
	//size
	--font-size-6xl: 64px;
	--font-size-5xl: 48px;
	--font-size-4xl: 32px;
	--font-size-3xl: 28px;
	--font-size-2xl: 24px;
	--font-size-xl: 20px;
	--font-size-l: 18px;
	--font-size-m: 16px;
	--font-size-base: 14px;
	--font-size-s: 12px;
	--font-size-xs: 10px;
	//bold
	--font-weight-xl: 700;
	--font-weight-l: 600;
	--font-weight-m: 500;
	--font-weight-base: 400;
	//line-height
	--font-height-base: 1.2;
	--font-height-150: 1.5;
	--font-height-custom: 22px;
	--font-height-24: 24px;
	//font- style
	--font-style-normal: Normal;
	--font-style-underline: Underline;
	// size
	--size-2xl: 64px;
	--size-xl: 48px;
	--size-l: 40px;
	--size-m: 32px;
	--size-s: 24px;
	--size-xs: 12px;
	//  radius
	--radius-pill: 999px;
	--radius-circle: 50%;
	--radius-rounded-m: 5px;
	--radius-rounded-s: 3px;
	--radius-sharp: 0;
	--radius-5px: 5px;

	//   width
	--min-width-milkdown-editor: 848px;
	--max-width-milkdown-editor: 848px;
	--max-width-milkdown-editor-content: calc(
		var(--max-width-milkdown-editor) - 2 * 3rem
	);

	//  padding
	--padding-icon-editor: 43.5px;

	//  height
	--height-header: 57px;
	--max-height-summary: calc(100vh - 40px - 24px - var(--height-header) - 88px);
	--height-top-summary: calc(24px + var(--height-header));

	//  decoration
	--underline: 'text-decoration-line: underline';
}
//@layer base {
//  h1 {
//    @apply text-heading-01;
//  }
// h2{
//   @apply text-heading-02;
// }
//  h3{
//    @apply text-heading-03;
//  }
//  body {
//    @apply text-body-02  #{!important} ;
//    font-feature-settings: 'pnum' on, 'lnum' on;
//  }
//}
