// Primary Color
$color-red-primary: #fcefec;
$color-red-primary-200: #FFEDED;
$color-red-primary-500: #BE0D0D;
$color-red-primary-600: #A40000;

// Functional Color
$color-green-functional: #0ed346;
$color-green-functional-200: #d7f5dc;
$color-green-functional-500: #ebfaee;
$color-blue-functional: #edf3fd;
$color-blue-functional-200: #dbe7fa;
$color-blue-functional-500: #3d8af2;
$color-yellow-functional: #fdf8ed;
$color-yellow-functional-200: #fbf1dc;
$color-yellow-functional-500: #ffcc59;

// Dark Color
$color-dark-functional: #f3f6fb;
$color-dark-functional-25: #C0C4CC;
$color-dark-functional-50: #F6F7F8;
$color-dark-functional-100: #E9E9E9;
$color-dark-functional-150: #EEEEEE;
$color-dark-functional-200: #e5e7ec;
$color-dark-functional-300: #dcdfe6;
$color-dark-functional-350: #B1B1B1;
$color-dark-functional-400: #7b8799;
$color-dark-functional-500: #465773;
$color-dark-functional-600: #11284d;

//color-primary
$color-white: #ffffff;
$color-black: #000000;
$color-background-default: #FAFAFA;
$color-slide-out: #e5e5e5;
$color-green: #13B742;
$color-item-header: #BE0D0D;
$background-item-header: #FFEDED;
$package_name: #BE0D0D;
$color-border: #DCDFE6;
$color-border-solid: #DCDFE6;
$color-body:  #12161c;
$color-congratulate:  #F49B51;

//color-btn
$color-btn: #BE0D0D;
$color-text: #11284D;
$color-text-disable: #7B8799;
$color-background: #E5E5E5;
$color-required: #dc5e4f;
$color-border: #DCDFE6;
$color-disable: #DCDFE6;
$color-disable-transfer: #B1B1B1;
$color-disable-btn: #DCDFE6;

//heigh
$heigh-header: 70px;
$heigh-header-margin: 35px;
$heigh-tabbar: 82px;
$heigh-padding-top: 70px;
$heigh-padding-ul-node: 40px;

//width
$max-width: 1280px;
$max-width-dialog-mobile: 90vw;
