// Primary Color
$color-red-primary: #fcefec;
$color-red-primary-200: #ffeded;
$color-red-primary-500: #be0d0d;
$color-red-primary-600: #a40000;

// Functional Color
$color-green-functional: #0ed346;
$color-green-functional-200: #d7f5dc;
$color-green-functional-500: #ebfaee;
$color-blue-functional: #edf3fd;
$color-blue-functional-200: #dbe7fa;
$color-blue-functional-500: #3d8af2;
$color-yellow-functional: #fdf8ed;
$color-yellow-functional-200: #fbf1dc;
$color-yellow-functional-500: #ffcc59;

// Dark Color
$color-dark-functional: #f3f6fb;
$color-dark-functional-25: #c0c4cc;
$color-dark-functional-50: #f6f7f8;
$color-dark-functional-100: #e9e9e9;
$color-dark-functional-150: #eeeeee;
$color-dark-functional-200: #e5e7ec;
$color-dark-functional-300: #dcdfe6;
$color-dark-functional-350: #b1b1b1;
$color-dark-functional-400: #7b8799;
$color-dark-functional-500: #465773;
$color-dark-functional-600: #11284d;

//color-primary
$color-white: #ffffff;
$color-black: #000000;
$color-background-default: #fafafa;
$color-slide-out: #e5e5e5;
$color-green: #13b742;
$color-item-header: #be0d0d;
$background-item-header: #ffeded;
$package_name: #be0d0d;
$color-border: #dcdfe6;
$color-border-solid: #dcdfe6;
$color-body: #12161c;
$color-congratulate: #f49b51;

//color-btn
$color-btn: #be0d0d;
$color-text: #11284d;
$color-text-disable: #7b8799;
$color-background: #e5e5e5;
$color-required: #dc5e4f;
$color-border: #dcdfe6;
$color-disable: #dcdfe6;
$color-disable-transfer: #b1b1b1;
$color-disable-btn: #dcdfe6;

//heigh
$heigh-header: 70px;
$heigh-header-margin: 35px;
$heigh-tabbar: 82px;
$heigh-padding-top: 70px;
$heigh-padding-ul-node: 40px;

//width
$max-width: 1280px;
$max-width-dialog-mobile: 90vw;
